<a href="https://colab.research.google.com/github/sanchariguhaniyogi/imageclassification/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss, roc_auc_score, recall_score, precision_score, average_precision_score, f1_score, classification_report, accuracy_score, plot_roc_curve, plot_precision_recall_curve, plot_confusion_matrix

In [ ]:
df = pd.read_csv('londonweekends.csv', na_values='?')
#df.head()
df.columns

Index(['realSum', 'person_capacity', 'multi', 'biz', 'cleanliness_rating',
       'guest_satisfaction_overall', 'bedrooms', 'dist', 'metro_dist',
       'attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm', 'lng',
       'lat'],
      dtype='object')

In [ ]:
df = df.rename(columns={'realSum': 'target'})
df['target'].value_counts(dropna=False)

180.389943     50
148.639432     41
128.883558     38
154.989534     37
167.689739     36
               ..
639.243632      1
867.376937      1
1147.016628     1
303.393777      1
217.314612      1
Name: target, Length: 1605, dtype: int64

In [ ]:
df = pd.get_dummies(df, columns=['biz', 'multi'], drop_first=True)
df

,target,person_capacity,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,biz_1,multi_1
0,121.122322,2,6,69,1,5.734117,0.437094,222.882243,15.493414,470.088503,8.413765,-0.04975,51.52570,0,0
1,195.912416,2,10,96,1,4.788905,1.464050,235.385841,16.362588,530.133525,9.488466,-0.08475,51.54210,0,1
2,193.325337,3,10,95,1,4.596677,0.450306,268.913812,18.693247,548.987610,9.825922,-0.14585,51.54802,0,1
3,180.389943,2,9,87,1,2.054769,0.132670,472.381314,32.837067,1021.271062,18.278973,-0.10611,51.52108,0,1
4,405.700981,3,7,65,0,4.491277,0.354108,318.491470,22.139584,692.775411,12.399473,-0.18797,51.49399,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5374,1035.066676,2,10,100,0,5.155373,0.883829,271.191201,18.851558,528.042180,9.451035,-0.05357,51.51255,1,0
5375,181.095510,2,10,100,1,5.072177,0.344055,268.165870,18.641255,554.906232,9.931855,-0.05620,51.51823,0,1
5376,420.517886,2,10,98,1,6.709982,0.926188,181.892001,12.644022,395.397885,7.076933,-0.22172,51.52180,0,0
5377,217.314612,2,10,94,1,6.736940,0.353634,184.278328,12.809905,471.029678,8.430610,-0.22286,51.49715,0,0
5378,489.193067,2,9,92,1,4.174953,0.610443,434.954210,30.235363,697.673227,12.487135,-0.06739,51.50889,0,0

In [ ]:
numeric_cols = ['person_capacity',  'cleanliness_rating',
       'guest_satisfaction_overall', 'bedrooms', 'dist', 'metro_dist',
       'attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm', 'lng',
       'lat']
cat_cols = list(set(df.columns) - set(numeric_cols) - {'target'}) #categorical columns
cat_cols.sort()

print(numeric_cols)
print(cat_cols)

['person_capacity', 'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist', 'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index', 'rest_index_norm', 'lng', 'lat']
['biz_1', 'multi_1']

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns  
sns.set_theme(style="ticks", rc={"axes.spines.right": False, "axes.spines.top": False})
 
plt.figure(figsize=(10,8))
sns.scatterplot(x=df['person_capacity'], y=df['target'], color="red",alpha=0.2)
plt.title("Capacity vs price")
 
plt.figure(figsize=(10,8))
sns.scatterplot(x=df['cleanliness_rating'], y=df['target'], color="green",alpha=0.4)
plt.title("rating vs Price")
 
plt.show()